*{
   font-family: 'Times New Roman', Times, serif;
   box-sizing: border-box;
}
body{
   padding: 0px;
   margin: 0px;
   flex-wrap: wrap;
}
h2{font-family: 'Times New Roman', serif;}

h3{font-family: 'Times New Roman', cursive;}

.logo{
   width: 150px;
   cursor: pointer;
}

ul{
   margin: -174px;
   padding: 0px;
   text-align: center;
   min-width: 300px;
}

li{
   list-style: none;
   display: inline-block;
   margin: 0px;
   padding: 0px;
   vertical-align: top;
}

.btn{
   border-radius: 40px;
   border: solid 5px;
   padding: 10px 50px;
   color:white;
   text-decoration: none;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
}

.btn-vrd{
   background-color:#FBCE43;
   border-color:rgba(16, 148, 36, 0,5);
   transition: background-color 1s;
}
.btn-vrd:hover {
   background-color:#bcfbf0;
}

#receta-contenido #recetas-seccion{
   background-image: url(img/60e74cfe13498comida.jpeg);
   background-size: 100%;
   height: 100vh;
   padding: 20px;
}
#receta-contenido #logo{
  width: 129px;
  text-align: center;
}
#receta-contenido #logo #back{
   padding:20px 0px;
}
#receta-contenido #logo #back a{
   color:width;
   text-decoration: none;
}
#receta-contenido #logo #back a:hover{
  color:white;
   text-decoration: underline;
}
#receta-contenido #recetas-seccion #barra{
   text-align: center;
}

#receta-contenido #recetas-seccion #barra ul li{
   margin: 10px 50px;
   height: 214px;
   width: 195px;
   overflow:hidden;
   transition:all 1s;
}

#receta-contenido #recetas-seccion #barra ul li:hover{
   height:400px;
   margin-top: -10px;
}
#receta-contenido #recetas-seccion #barra ul li a{
   color:#fd7e14;
   text-decoration:none;
   height: 100px;
}
#receta-contenido #recetas-seccion #barra ul li:hover > div a h3{
  opacity: 1;
  margin-top: -10px;
  color: #ff3300;
}

#receta-contenido #recetas-seccion #barra ul li h2{
   font-size: 50px;
}
#receta-contenido #recetas-seccion #barra ul li h3{
   font-size: 30px;
   opacity: 0;
   transition:all 1s;
   transition-delay: 0.1s;
}
/* Pie De Paguina*/

footer{
   width:100% ;
   background: #242527;
   color: white;
 
}

.contenido-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto; /* Para Que Siempre este Centrado*/
  padding: 40px;
}

.contenido-body{
   display: flex; /* Par Que Se Pongo Uno a lado de otro*/
   justify-content: space-between;
}

.colum1{
   max-width: 400px ;
}

.colum1 h1{
   font-size: 22px; /*Para Modificar El Tamaño De Las Letras*/
}

.colum1 p{
   font-size: 14px;
   color: #c7c7c7;
   margin-top: 20px;
}

.colum2{
   max-width: 400px ;
}

.colum2 h1{
   font-size: 22px;
}
.colum2 .row{
   margin-top: 20px;
   display: flex;
}

.row img{
   width: 36px; /*Ancho*/
   height: 36px; /*Alto*/
}
 
.row label{
   margin-top: 10px;
   margin-left: 20px;
   color:#c7c7c7;
}

.colum3{
   max-width: 400px;
}
.colum3 h1{
   font-size: 22px;
}
.row2{
   margin-top: 20px;
   display:flex;
}
.row2 img{
   width: 36px; /*Ancho*/
   height: 36px; /*Alto*/
}
 
.row2 label{
   margin-top: 10px;
   margin-left: 20px;
  max-width: 140px;
}
.contenido-footer{
   width: 100%;
   background: #101010;
  
   padding: 20px;
}

.footer{
   max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding: 30px;
}

.CopyRight{
   color: #c7c7c7;   
}
.CopyRight a{
   text-decoration: none;
   color: #c7c7c7;
    font-weight: bold;
}

.informacion{
   text-decoration: none;
   color: #c7c7c7;
}

@media screen and (max-width: 1100px){

   .contenido-body{
      flex-wrap: wrap;
   }
   .colum2,
   .colum3{
      margin-top: 40px;
   }
}















 
