*{
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
}
.Contenedor{
   width: 100%;
   height: 100vh;
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/combinar-colores-plato-comida.png);
   background-position: center;
   background-size:cover;
   padding: 8%;
   padding-right: 8%;
   box-sizing: border-box;
}
 .navbar{
    height: 12px;
    display: flex;
    align-items: center;
 }

 .logo{
    width: 150px;
    cursor: pointer;
 }

.menu-icon{
   width: 30px;
   cursor: pointer;
   margin-left: 40px;
}
nav{
   flex: 1;
   text-align: right;   
}
 nav ul li{
    list-style: none;
     display: inline-block;
     margin-right: 60px;
    }

 nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
 }

 .res{
    display: flex;
    height: 88%;
    align-items: center;
 }

 .col{
    flex-basis: 50%;
 }

 h1{
    color: white;
    font-size: 100px;
 }

 p{
   color: white;
   font-size: 15px;
   line-height: 15px;
 }

 button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
 }

 .card{
    width: 100px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-size: cover;
    transition: transform 0.5s;
 }

 .card1{
   background-image: url(img/Sinaloa\ AguaChile.jpg);
 }
 .card2{
   background-image: url(img/Baja\ California\ Sur–\ Ceviche.png);
 }
 .card3{
   background-image: url(img/Aguascalientes–\ Pollo\ de\ San\ Marcos.jpg);
 }
 .card4{
   background-image: url(img/Gastronomia-sinaloa.jpg);
 }

 .card :hover{
    transform: translateY(-10px);
 }
h5{
   color: #fff;
   text-shadow: 0 0 5px #999;
}
.card p{
   text-shadow: 0 0 15px #000;
   font-size: 8px;

}

/* Pie De Paguina*/

footer{
   width:100% ;
   background: #242527;
   color: white;
 
}

.contenido-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto; /* Para Que Siempre este Centrado*/
  padding: 40px;
}

.contenido-body{
   display: flex; /* Par Que Se Pongo Uno a lado de otro*/
   justify-content: space-between;
}

.colum1{
   max-width: 400px ;
}

.colum1 h1{
   font-size: 22px; /*Para Modificar El Tamaño De Las Letras*/
}

.colum1 p{
   font-size: 14px;
   color: #c7c7c7;
   margin-top: 20px;
}

.colum2{
   max-width: 400px ;
}

.colum2 h1{
   font-size: 22px;
}
.colum2 .row{
   margin-top: 20px;
   display: flex;
}

.row img{
   width: 36px; /*Ancho*/
   height: 36px; /*Alto*/
}
 
.row label{
   margin-top: 10px;
   margin-left: 20px;
   color:#c7c7c7;
}

.colum3{
   max-width: 400px;
}
.colum3 h1{
   font-size: 22px;
}
.row2{
   margin-top: 20px;
   display:flex;
}
.row2 img{
   width: 36px; /*Ancho*/
   height: 36px; /*Alto*/
}
 
.row2 label{
   margin-top: 10px;
   margin-left: 20px;
  max-width: 140px;
}
.contenido-footer{
   width: 100%;
   background: #101010;
  
   padding: 20px;
}

.footer{
   max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding: 30px;
}

.CopyRight{
   color: #c7c7c7;   
}
.CopyRight a{
   text-decoration: none;
   color: #c7c7c7;
    font-weight: bold;
}

.informacion{
   text-decoration: none;
   color: #c7c7c7;
}

@media screen and (max-width: 1100px){

   .contenido-body{
      flex-wrap: wrap;
   }
   .colum2,
   .colum3{
      margin-top: 40px;
   }
}









 
