

/*-----------------Carrusel----------------*/


#carrucel{
   width: 80%;
   margin: auto;
   overflow: hidden;
}

#carrucel ul{
   display: flex;
   padding: 0;
   width: 400%;

   animation: cambio 15s infinite;
   animation-direction: alternate-reverse;
}

#carrucel li{
   width: 100%;
   list-style: none;
}

#carrucel img{
   
   width: 70%;
   height: 90%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}


/*-----------------Carrusel----------------*/


