/*////////////////////////////////////////////////////////////////////////////////////////////*/
                                                                /*Hoja Reset*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;

}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

/* No olvides definir estilos para focus */
:focus {
outline: 0;
}
/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
/* En el código HTML es necesario añadir cellspacing="0" */
table {
border-collapse: collapse;
border-spacing: 0;
}


/*-------------ESTILOS-------------*/



/*-------------Estilo del cuerpo-------------*/

body{
    background: url(WhatsApp\ Image\ 2021-11-30\ at\ 10.51.56\ PM.jpeg);
    background-size: 1345px 680px;
}

/*-------------Estilo de la Barra de navegación-------------*/

#logo{
    float: left;
    background-image: url(logo.jpeg);
    background-size: 100px;
    background-position-y: -25px;
    background-position-x: 8px;
}

#logo p{
    color: #333;
    font-size: 18px;
    font-style: oblique;
    line-height: 102px;
    margin-left: 5px;
}

#logo{
    border-radius: 17px;
    border: 1px solid#333;
}

#header{
    width: auto;
    height: 65px;
    background-color: rgb(255, 255, 255);
    font-family: "BebasNeue";
    color: white;
}

#navbar{
    overflow: hidden;
    height: 1%;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: #333;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0px 15px 0px 15px;
    transition: 300ms;
}


/*SIDE BAR*/

#sidebar{
    margin: auto;
    width: 100%;
    height: 800px;
}

#sidebar{
   /* background: white;*/
    background: transparent;
}
/*-------------Estilo de los Option de los Select-------------*/
option .select{
    font-size: 15;
    color: #333;
}

/*-------------MARGENES-------------*/



/*-------------Margenes de la Barra de navegación-------------*/
#navbar{
    max-height: 1000px;
}
#navbar{
    height: 65px;
}

#navbar ul li {
    margin: 10px auto;
    line-height: 46px;
    float: left;
}

/*#navbar ul li {
    margin: 0px 98px 0px 2px;
}*/


#navbar ul li {
    display: block;
    height: 40px;
}

/*#navbar ul li a{
    display: block;
}*/

#navbar ul li a{
    display: block;
    width: 138px;
}

#header{
    border: 2px solid #333;
}


/*-------------Margenes del efecto de los li de la barra de navegación-------------*/
.contenedoreecto{
    display: block;
    width: 150px;
    height: 66px;
    float: left;
    margin: 0px 76px 0px 143px;
    line-height: 1px;
    transition: 300ms;
    overflow: hidden;
   /* border: 1px solid black;*/
}

/*EFECTO DE LOS li*/

/*.contenedoreecto li:hover{
    background: black;
}*/

.subrraefecto{
    width: 150px;
    height: 3px;
    background: black;
    float: right;
    margin-top: -12px;
    /*margin-left: 10px;*/
    /*margin: 40px 5px 0px 5px;*/
}


#wrap{
    width: 1224px;
    margin: 0px auto;
}

/*-------------Margenes del filtro y su botón-------------*/
#text{
    width: 148px;
   height: 33px;
   border-radius: 15px;
   border-color: #333;
}

#cont{
    margin: 5px auto;
    padding: 50px 0px 0px 10px;
}

input[type="text"] #btn{
    float: left;
}

/*-------------Margenes del Logo-------------*/

#logo{
    display: block;
    margin-top: 2px;
    width: 115px;
    height: 60px;
    transform: 700ms;
}

/*#logo:hover{
    width: 93px;
    height: 53px;
    margin-top: 6px;
    background-size: 103px;
    background-position-y: -20px;
    background-position-x: -2px;
    box-shadow: 1px 1px 1px 1px #333;
}*/

/*||||||||||||||||||||||| ESTILO DE SUBRRAYADO PENDIENTE |||||||||||||||||||||||*/

/*#navbar ul li a:hover{
        font-size: 19px;
        text-shadow: 1px 1px 1px 2px black;
}*/



#formstyleoli{
    float: left;
    width: 21%;
    height: 100%;
    background: white;
    padding-left: 4%;
}

#navbar ul li a{
    font-size: 18px;
}


select{
    margin: 20px;
}

#btn{
 width: 60px;
 height: 40px;
 font-size: 15px;
 /*border: none;*/
 border-radius: 10px;
 color: white;
 background: #333;
 transition: 300ms;
 border-style: none;
 /*border-color: #333;*/
 letter-spacing: 1px;
}

#mts{
    margin: 40px auto;
    width: 170px;
    height: 70px;
    font-size: 15px;
    margin-left: 30px;
}

#mts{
    color: white;
    border: #333;
    border-radius: 15px;
    background-color: #333;
    transition: 300ms;
    margin-left: 23px;
}

#mts:hover{
    font-size: 16px;
    width: 180px;
    height: 60px;
    background-color: white;
    color: #333;
    border: 2px solid #333;
    font-style: inherit;
}

#btn:hover{
    color: #333;
    background: white;
    width: 60px;
    height: 35px;
    border: 2px solid #333;
    /*box-shadow: 1px 2px 2px 4px black;*/
}

/* Pie De Pagina*/

footer{
    background: #242527;
    color: white;
    box-sizing:content-box;
    margin:auto;
    position: relative;
 }
 
 .contenido-footer-all{
   width: 100%;
   max-width: 1250px;
   margin: auto; /* Para Que Siempre este Centrado*/
   padding: 28px;
   
 }
 
 .contenido-body{
    display: flex; /* Par Que Se Pongo Uno a lado de otro*/
    justify-content: space-between;
 }
 
 .colum1{
    max-width: 400px ;
 }
 
 .colum1 h1{
    font-size: 22px; /*Para Modificar El Tamaño De Las Letras*/
 }
 
 .colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
 }
 
 .colum2{
    max-width: 400px ;
 }
 
 .colum2 h1{
    font-size: 22px;
 }
 .colum2 .row{
    margin-top: 20px;
    display: flex;
 }
 
 .row img{
    width: 36px; /*Ancho*/
    height: 36px; /*Alto*/
 }
  
 .row label{
    margin-top: 10px;
    margin-left: 20px;
    color:#c7c7c7;
 }
 
 .colum3{
    max-width: 400px;
 }
 .colum3 h1{
    font-size: 22px;
 }
 .row2{
    margin-top: 20px;
    display:flex;
 }
 .row2 img{
    width: 36px; /*Ancho*/
    height: 36px; /*Alto*/
 }
  
 .row2 label{
    margin-top: 10px;
    margin-left: 20px;
   max-width: 140px;
 }
 .contenido-footer{
    width: 100%;
    background: #101010;
 }
 
  .footerr{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
 }
 
 .footerr .informacion a{
     font-style: none;
     text-decoration: none;
     color: white;
 }

 .CopyRight{
    color: #c7c7c7;   
 }
 .CopyRight a{
    text-decoration: none;
    color: #c7c7c7;
     font-weight: bold;
 }
 
 .informacion{
    text-decoration: none;
    color: #c7c7c7;
 }

select{
    margin: 15px auto;
    width: 220px;
    height: 40px;
    background: #333;
    border-radius: 10px;
    border-color: #333;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

hr{
    width: 30%;
    color: #333;
}

#sectionOli1{
    overflow: scroll;
}

